.yk_button{
	background-image: -moz-linear-gradient(19% 100% 90deg,#C9C9C9, #7D7D7D, #A1A1A1 100%);
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#C9C9C9), color-stop(0.6, #A1A1A1), to(rgb(132, 132, 132)));
}

.yk_button_gradient:hover{
	background-color: #C9C9C9;
}

.yk_button:hover > .yk_button_gradient{
	background-color: #C9C9C9;
}

.yk_button:hover{
	border-color: #B2B2B2;
/*	background-color: #FFE332;*/
		background-image: -moz-linear-gradient(19% 100% 90deg,#C9C9C9, #7D7D7D, #A1A1A1 100%);
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#C9C9C9), color-stop(0.6, #A1A1A1), to(rgb(132, 132, 132)));
	opacity: 0.9;
}

.yk_button:active{
   	border-color: #D5D5D5;
	background-color: #C9C9C9;
	background-image: -moz-linear-gradient(19% 100% 90deg,#C9C9C9, #7D7D7D, #A1A1A1 100%);
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#C9C9C9), color-stop(0.6, #A1A1A1), to(rgb(132, 132, 132)));
}

.yk_button_gradient:active{
	background-color: #C9C9C9;
}

.yk_button:active > .yk_button_gradient{
	background-color: #C9C9C9;
}
